body {
  background-color: black;
  color: limegreen;
  font-family: monospace;
  padding: 20px;
}
#terminal {
  width: 100%;
  height: 90vh;
  overflow-y: auto;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
}
.command {
  display: flex;
  align-items: center;
}
.command span {
  margin-right: 5px;
}
.input-line {
  display: flex;
  align-items: center;
}
.input-line span {
  margin-right: 5px;
}
.input-line input {
  background: none;
  border: none;
  color: limegreen;
  font-family: monospace;
  font-size: 1em;
  outline: none;
  width: auto;
  flex-grow: 1;
}
